//variables
$primarycolor: #272727;
$textcolor: #fff;

//map
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

body {
  background: $primarycolor;

  color: $textcolor;
}

.main {
  width: 80%;
  margin: 0 auto;

  #{&}__paragraph {
    font-weight: map-get($font-weights, bold);

    &:hover {
      color: pink;
    }
  }
}
