@import "./resets";

//variables
$primarycolor: #272727;
$textcolor: #fff;

//map
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

@function weight($weight) {
  @return map-get($font_weights, $weight);
}

@mixin flexCenter($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

body {
  background: $primarycolor;

  color: $textcolor;
}

.main {
  @include flexCenter(column);
  width: 80%;
  margin: 0 auto;

  #{&}__paragraph {
    font-weight: weight(bold);

    &:hover {
      color: pink;
    }
  }
}
